@font-face {
  font-family: SimplonMono-Regular;
  src: url('/fonts/SimplonMono-Regular.otf');
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url('/fonts/HelveticaNeue-Bold.otf');
}

@font-face {
  font-family: Wingdings;
  src: url('/fonts/Wingdings.ttf');
}

#gradientSubmit {
  position: absolute;
  background-image: radial-gradient(#fab277, #c05b63);
  background-size: 100wh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#gradient {
  position: absolute;
  background-image: radial-gradient(#f9f8f6, #f1bcae);
  background-size: 100wh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 8s ease-out;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

#mc_embed_signup {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 48%;
  right: 0;
  left: 0;
  z-index: 10;
}

div.mc-field-group input {
  font-family: SimplonMono-Regular;
  color: #666666;
  display: inline-block;
  font-size: 3vh;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

input.button {
  display: inline-block;
  font-size: 3vh;
  background: transparent;
  border: none;
  outline: none;
}

#mc-embedded-subscribe {
  font-family: Wingdings;
  color: #666666;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

h2 {
  font-family: SimplonMono-Regular;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  size: 3vh;
  z-index: 10;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

@media (max-width: 580px) {
  input[type='email'] {
    display: block;
    width: 100%;
  }
}
